body {
  font-size: 20px;
}

.bottom-left {
  position: absolute;
  bottom: 50px;
  left: 16px;
}
h1 a:link, a:visited, a:hover {
  text-decoration: none;
  color: white
  
}
.container{
    width: 1335px;
    height: 800px;
    background: #FFF;
}

.header{
    padding: 45px 0 20px 40px;
    border: 2px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
footer{

    padding: 6px 40px 6px 40px;
    background: #d6d6d6;
    font-family:"Lucida Sans Unicode";
    color:#444444;
    font-size:11px;
    text-decoration: right;
}

footer a{
    text-decoration: none;
    color:#262626;
}